*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#07131d;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.pantalla{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.tarjeta{

    width:90%;
    max-width:450px;

    background:#101820;

    border:3px solid #00ff99;

    border-radius:15px;

    padding:30px;

    text-align:center;

    box-shadow:0 0 25px #00ff99;

}

h1{

    color:#00ff99;

    margin-bottom:10px;

}

h2{

    margin-bottom:20px;

}

.descripcion{

    margin-bottom:20px;

    line-height:25px;

}

.estado{

    font-size:20px;

    margin-bottom:20px;

}

.bloqueado{

    color:red;

    font-weight:bold;

}

.cronometro{

    font-size:22px;

    margin-bottom:20px;

    color:#FFD54F;

}

input{

    width:180px;

    font-size:30px;

    text-align:center;

    padding:10px;

    border-radius:10px;

    border:none;

    margin-bottom:20px;

}

button{

    background:#00ff99;

    color:black;

    border:none;

    padding:15px 30px;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.05);

}

#mensaje{

    margin-top:25px;

    font-size:20px;

    font-weight:bold;

}
