*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#08131f;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.pantalla{
    width:90%;
    max-width:500px;
    padding:30px;
    border:3px solid #00ff88;
    border-radius:20px;
    box-shadow:0 0 25px #00ff88;
    text-align:center;
    background:#111b28;
}

.oculto{
    display:none;
}

h1{
    color:#00ff88;
    margin-bottom:20px;
}

h2{
    margin:20px 0;
}

.estado{
    font-size:24px;
    margin:20px;
}

.bloqueado{
    color:red;
    font-weight:bold;
}

#temporizador{
    color:#ffd54f;
    font-size:40px;
    margin:25px;
}

.pregunta{
    margin-top:25px;
}

#textoPregunta{
    font-size:22px;
    margin:20px 0;
}

input{
    width:90%;
    padding:15px;
    font-size:22px;
    border-radius:10px;
    border:none;
    text-align:center;
}

button{
    margin-top:20px;
    width:90%;
    padding:16px;
    font-size:22px;
    border:none;
    border-radius:10px;
    background:#00ff88;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

@media(max-width:600px){

    h1{
        font-size:34px;
    }

    #temporizador{
        font-size:34px;
    }

    button{
        font-size:20px;
    }

}
